# 不要な asyncio を削除
aiohttp
autogluon==0.8.2
beautifulsoup4
catboost
gym
lightgbm
matplotlib
neuralforecast
numpy
onnxruntime
optuna
pandas
requests
scikit-learn
statsmodels
streamlit
torch==1.13.1  # autogluon==0.8.2 に合わせる
xgboost
